{
    "id": "robotlegs",
    "name": "robotlegs",
    "url": "https://github.com/robotlegs/robotlegs-framework",
    "docUrl": "https://github.com/robotlegs/robotlegs-framework",
    "description": "robotlegs",
    "type": "swc",
    "version": "@VERSION@",
    "sourceUrl": "https://github.com/@GITHUB_REPO@/releases/download/@VERSION@/robotlegs_@VERSION@.airpackage",
  	"publishedAt": "@DATE@T@TIME@Z",
    "dependencies": [
		"swiftsuspenders:2.1.x"
	],
    "parameters": [],
    "tags": [],
    "purchaseUrl": "",
    "status": "release",
    "license": {
        "url": "https://github.com/robotlegs/robotlegs-framework/blob/master/LICENSE",
        "type": "MIT",
        "public": true
    }
}
